.estructura {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
}

.principal {
  flex: 1;
}

.completo {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

.completo > * {
  flex: 1;
}